.right-header {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: auto;
}

#menu-link {
    text-decoration: none;
    color: black;
}

#contact-link {
    text-decoration: none;
    color: black;
}