.inner-nav {
    margin: 0 auto;
    width: 1170px;
}

.inner-nav ul {
    margin: 0;
    padding: 80px 0 0;
    list-style: none;
    text-align: right;
}

.inner-nav ul li {
    float: none;
    display: inline-block;
}

.inner-nav ul li:nth-child(1) {
    float: left;
}

.inner-nav ul li:nth-child(2) {
    float: left;
}

.inner-nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: black;
}

.inner-nav ul li a:hover {
    color: rgb(166, 43, 43);
}

.nav {
    width: 100%;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -225px;
}

.pizza {
    position: absolute;
    top: 0;
    z-index: -1;
}

.pizza img {
    width: 100vw;
    object-fit: contain;
}
